@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.send-message-form {
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.messages {
    color: red;
    /* border: 1px solid; */
    border-radius: 4px;
    margin: 4px 0;
    padding: 4px;
}

.send-message-form-text-input [type=submit] {
    visibility: collapse;
}

.send-message-form-text-input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}
